.container {
  text-align: center;
  margin-top: 50px;
  font-family: monospace;
}

.text-input {
  width: 500px;
  padding: 10px;
  font-size: 18px;
  font-family: inherit;
}

.suggestion {
  margin-top: 5px;
  font-size: 18px;
  color: gray;
}

.ghost-word {
  font-weight: bold;
  cursor: pointer;
  color: darkgray;
}
